<!-- <app-navbar></app-navbar> -->

<div class="login-cover">
  <div class="login-cover-image" [ngStyle]="{ 'background-image': 'url(' + this.bg + ')' }"></div>
  <div class="login-cover-bg"></div>
</div>

<!-- begin login -->
<div class="login login-v2" data-pageload-addclass="animated fadeIn">
  <!-- begin brand -->
  <div class="login-header">
    <div class="brand">
          <!-- <span class="logo"></span> --> <b>Ossas-Web</b> 
          <small>La experiencia Ossas.</small>
      </div>
      <!-- <div class="icon">
          <i class="fa fa-lock"></i>
      </div> -->
  </div>
  <!-- end brand -->
  <!-- begin login-content -->
  <div class="login-content">
    <form [formGroup]="formulario" class="margin-bottom-0">
        <div class="form-group m-b-15">
            <input type="text" formControlName="email" 
            [(ngModel)]="email" 
            class="form-control form-control-lg" 
            placeholder="Dirección Email" required
            [ngClass]="(formulario.get('email').dirty) && 
                        formulario.get('email').hasError('required') ? 'is-invalid':''  
                        || formulario.get('email').hasError('pattern') ? 'is-invalid':''
                        ||((formulario.get('email').touched || formulario.get('email').dirty)
                        && !formulario.get('email').invalid) ? 'is-valid':''
                        "/>
            <div class="invalid-feedback">
                {{
                    formulario.get('email').hasError('required')
                    ? 'Email es requerido'
                    :'' 
                }}
                {{
                    formulario.get('email').hasError('pattern')
                    ? 'Email ingresado no es valido'
                    :'' 
                }}
            </div>
        </div>
        <div class="form-group m-b-15">
            <input type="password" formControlName="password" [(ngModel)]="password" 
            class="form-control form-control-lg" placeholder="Contraseña" required
            [ngClass]="(formulario.get('password').dirty ) && 
                        formulario.get('password').hasError('required') ? 'is-invalid':'' 
                        || formulario.get('password').hasError('minlength') ? 'is-invalid':''
                        ||((formulario.get('password').touched || formulario.get('password').dirty)
                        && !formulario.get('password').invalid) ? 'is-valid':''
                        "/>
            <div class="invalid-feedback">
                {{
                    formulario.get('password').hasError('minlength')
                    ? "Largo de la contraseña debe tener minimo 6 caracteres"
                    :'' 
                }}
                {{
                    formulario.get('password').hasError('required')
                    ? 'Contraseña es requerida'
                    :'' 
                }}
                
            </div>
        </div>
        <!-- <div class="checkbox checkbox-css m-b-30">
          <input type="checkbox" id="remember_me_checkbox" value="" />
          <label for="remember_me_checkbox">
            Recordarme
          </label>
        </div> -->
        <div class="login-buttons">
            <button type="submit" [disabled]="!formulario.valid" (click)="formSubmit()" class="btn btn-success btn-block btn-lg">Iniciar sesión</button>
            <button class="btn btn-primary" (click)="testing()">Testing</button>
        </div>
        <div class="m-t-20 m-b-40 p-b-40 text-inverse">
          <p style="color: white;">
            Si no tienes una cuenta todavia, has click <a routerLink="/register" class="text-success">aquí</a> para registrarte.
          </p>
        </div>
        <hr />
      </form>
  </div>
  <!-- end login-content -->
</div>
<!-- end login -->

<ul class="login-bg-list clearfix">
<li *ngFor="let list of bgList" [ngClass]="{ 'active': list.active }">
  <a href="javascript:;" (click)="changeBg(list)" [ngStyle]="{ 'background-image': 'url(' + list.bg + ')' }"></a>
</li>
</ul>

