<app-navbar></app-navbar>

<div class="container-fluid" style="width: auto;">
  <div class="row mt-5">
    <div class="col-lg-6">
      <div class="card" style="height: auto; background-color: #343a40; border-radius: 1%; color: white; ">
        <div class="card-body">
          <div class="card-title"> Inicio de Sesión </div>
          <div class="card" style="background-color:transparent; border: 0;" >
            <div class="card-body">
          <form action="/action_page.php" class="need-validation">

            <div class="form-group" >
              <label for="uname" >Nombre de Usuario:</label>
              <input type="text" class="form-control mx-sm" id="uname" placeholder="Usuario" name="uname" required>
              <div class="valid-feedback">Valid.</div>
              <div class="invalid-feedback">Por favor coloque nombre de Usuario.</div>

            </div>
            <div class="form-group">
              <label for="pwd">Contraseña:</label>
              <input type="password" class="form-control mx-sm" id="pwd" placeholder="Contraseña" name="pswd" required>
              <div class="valid-feedback">Valid.</div>
              <div class="invalid-feedback">Por favor coloque la contraseña.</div>
              <div class="row justify-content-end">
              <div class="col-sm-3" style="font-size: 0.8vw; margin-top: 0; text-align: right;">
                <a routerLink="/home" routerLinkActive="active" >
              Olvidó su contraseña?
            </a></div></div>
            </div>
            <a routerLink="/home" routerLinkActive="active" class="btn btn-secondary active" role="button">
              Ingresar
            </a>
          
          </form>
        </div>
        </div>
        </div>
      </div>
    </div>
  
  <div class="col-lg-6">
    <div class="card" style="background-color: transparent; border: 0ch;">
      <div class="body">
        <div class="row" style="margin-right: 50px; display:flexbox; max-width: 100%;">
          <div class="col" style="height: 60%; width: 100%;">
            <div class="container" style="width: 100%;height: auto;text-align: center; margin-top: 3%; margin-bottom: 2%;">
              <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="/assets/images/session1.jpeg" class="card-img-top"
                      style="max-width: 80%; max-height: 400px;">
                  </div>
                  <div class="carousel-item">
                    <img src="/assets/images/session2.jpeg" class="card-img-top"
                      style="max-width: 80%; max-height: 400px">
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
