<p style="font-size: 3vw; color: white;">Únete a esta nueva experiencia</p>
<div style="margin-left: 15px;">
    <div class="row">
        <img src="/assets/images/1473824210925.png" class="card-img-top" alt="Imagen 1" style="max-width:44.2%; max-height:44.5%; width: auto; height: auto; border: 2px solid #343a40;border-radius: 5%;">
        <img src="/assets/images/1472725484019.jpg" class="card-img-top" alt="Imagen 2" style="margin-left:2%; max-width:44.2%; max-height:44.5%; width: auto; height: auto; border: 2px solid #343a40;border-radius: 5%;">
    </div>
    <div class="row" style="margin-top: 25px;">
        <img src="/assets/images/1472873279290.jpg" class="card-img-top" alt="Imagen 3" style="margin-left:2%; max-width:44.2%; max-height:44.5%; width: auto; height: auto; border: 2px solid #343a40;border-radius: 5%;">
        <img src="/assets/images/1466581507037.png" class="card-img-top" alt="Imagen 4" style="margin-left:2%; max-width:44.2%; max-height:44.5%; width: auto; height: auto; border: 2px solid #343a40;border-radius: 5%;">
    </div>
</div>