<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand"
        routerLink="home"
        routerLinkActive="active">
        Ossas-Web
    </a>
    
    <ul class="navbar-nav mr-auto">
        <div class="row">
            <button class="btn btn-secondary ml-4 mr-4">
                Home
            </button>
            <button class="btn btn-secondary">
                New
            </button>
        </div>
    </ul>

    <a style="font-weight:inherit; color: white;">¿Ya tienes una cuenta?   ->   </a>
    <button class="btn btn-secondary mr-5 ml-2"
        routerLink="session"
        routerLinkActive="active">
        Ingresar
    </button>
</nav>
