<app-navbar-in></app-navbar-in>

<div class="row" style="margin-top: 60px;">
    <div class="column" style='margin-left: 50px; background-color: #343a40; border-radius: 1%;'><p style="font-size: xx-large; color: white; margin-left: 20px;">Registro</p>
        <div class='container' style="width: 35rem;">
            <form>
                <div class="form-group">
                    <label for="exampleInputUserName1" style="margin-left: 10px; color: white">Nombre de Usuario:</label>
                    <input type="text" class="form-control" id="exampleInputUserName1" aria-describedby="emailHelp" style="margin-left: 10px; width: 500px;">
                    <small id="emailHelp" class="form-text" style="margin-left: 10px; color: white">Este será el nombre que verás en tu perfil.</small>
                  </div>
                <div class="form-group">
                  <label for="exampleInputEmail1" style="margin-left: 10px; color: white">Dirección de Correo:</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"style="margin-left: 10px; width: 500px;">
                  <small id="emailHelp" class="form-text" style="margin-left: 10px; color: white">No compartiremos tu email con terceros.</small>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1" style="margin-left: 10px; color: white">Contraseña:</label>
                  <input type="password" class="form-control" id="exampleInputPassword1"style="margin-left: 10px; width: 500px;">
                  <small id="emailHelp" class="form-text" style="margin-left: 10px; color: white">No compartas tu contraseña con nadie.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1" style="margin-left: 10px; color: white">Repetir Contraseña:</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" style="margin-left: 10px; width: 500px;">
                  </div>
                <!--><div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1" style="margin-left: 10px">
                  <label class="form-check-label" for="exampleCheck1" style="margin-left: 30px; color: white">Do you are have stupid?</label>
                </div><!-->
                <button type="submit" class="btn" style="margin-left: 77%; margin-bottom: 10px; background-color: gray ; color: white;">Registrarse</button>
              </form>
        </div>
    </div>


    <div class="column" style='margin-left: 50px;'><p style="font-size: xx-large;">Únete a esta nueva experiencia</p>
        <div class='container-fluid'>
            <div class="row">
                <img src="/assets/Images/1473824210925.png" class="card-img-top" alt="No carga tu wea" style="margin-right:25px; width:350px;height:200px; border: 2px solid #343a40;border-radius: 5%;">
                <img src="/assets/Images/1472725484019.jpg" class="card-img-top" alt="No carga tu wea" style="width:350px;height:200px; border: 2px solid #343a40;border-radius: 5%;">
            </div>
            <div class="row" style="margin-top: 25px;">
                <img src="/assets/Images/1472873279290.jpg" class="card-img-top" alt="No carga tu wea" style="margin-left:25px; width:350px;height:200px; border: 2px solid #343a40;border-radius: 5%;">
                <img src="/assets/Images/1466581507037.png" class="card-img-top" alt="No carga tu wea" style="margin-left:25px; width:350px;height:200px; border: 2px solid #343a40;border-radius: 5%;">
            </div>
        </div>
    </div>
</div>