<!--<app-navbar-in></app-navbar-in>-->

<div class="login-cover">
    <div class="login-cover-image" [ngStyle]="{ 'background-image': 'url(' + this.bg + ')' }"></div>
    <div class="login-cover-bg"></div>
</div>

<div class="row" style="max-width: 90%;">
    <div class="column" style='margin-left: 50px; margin-right: 50px; border-radius: 1%; max-width: 100%; position: relative;'><p style="font-size: 50px; font-weight: 300; color: white; margin-left: 20px; font-weight: bold;">Registro</p>
        <div class='container-fluid' style="width: auto; position: relative;">
            <app-register-form></app-register-form>
        </div>
    </div>

    <div class="row" style="margin-left: 50px; margin-right: 50px; max-width: 50%;">
      <div class="column" style='margin-left: 50px; position: fixed;'>
          <div class='container' style="max-width: 70%; width: auto;">
              <app-register-grid></app-register-grid>
          </div>
      </div>
    </div>
</div>

<ul class="login-bg-list clearfix">
    <li *ngFor="let list of bgList" [ngClass]="{ 'active': list.active }">
      <a href="javascript:;" (click)="changeBg(list)" [ngStyle]="{ 'background-image': 'url(' + list.bg + ')' }"></a>
    </li>
</ul>