<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand"
    routerLink="/login"
    routerLinkActive="active"
    >Ossas-Web</a>
    <ul class="navbar-nav ml-4 mr-auto">
      <div class="row">
          <a 
            routerLink="/home"
            routerLinkActive="active"
            class="btn btn-secondary mr-4 active"
            role="button">
            Inicio
          </a>
          <a 
            routerLink="/home"
            routerLinkActive="active"
            class="btn btn-secondary mr-4 active"
            role="button">
            Nuevo
          </a>
      </div>
    </ul>
    
      <form class="form-inline">
        <input class="form-control" type="search" placeholder="Buscar imagenes.." aria-label="Search">
        <button class="btn btn-secondary ml-2 " type="submit">Buscar</button>
      </form>
    <ul class="navbar-nav ml-auto">
      <div class="row">
        <a 
          routerLink="/home/myimages"
          routerLinkActive="active"
          class="btn btn-secondary mr-4 active"
          role="button">
          Mis Imagenes
        </a>
        <a 
          [routerLink]="[ '/home/profile', user.id ]"
          routerLinkActive="active"
          class="btn btn-secondary mr-4 active"
          role="button">
          Perfil
        </a>
      </div>
    </ul>
  </nav>
  