<!-- Image and text -->
<nav class="navbar fixed-top navbar-dark bg-info">
    <a class="navbar-brand" href="#">
      <!--<img src="assets/images/ping.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">-->
      <div class= "container-fluid">
        Ossas-Web
        <button type="button" class="btn btn-dark btn-sm">Small button</button>
        <button type="button" class="btn btn-dark btn-sm">Small button</button>
        <button type="button" class="btn btn-dark btn-sm">Botón Nuevo</button>
      </div>
    </a>
</nav>