<nav class="navbar navbar-light bg-primary">
  <a class="navbar-brand">
    <!--<img src="assets/images/ping.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">-->
    <div class= "container-fluid">
      <div class="row">
        <div class="col-fluid">
          Ossas-Web
        </div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>

        <div class="col-fluid">
          <button
            type="button"
            class="btn btn-dark btn-sm "
            routerLink="login"
            routerLinkActive="active">
            Crear Cuenta
          </button>
        </div>
        <div class="col">
          <button 
            type="button" 
            class="btn btn-dark btn-sm">
            Ingresar
          </button>
        </div>
      </div>
    </div>
  </a>
</nav>