<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <!--<img src="assets/images/ping.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">-->
      Bootstrap
      <button type="button" class="btn btn-primary btn-sm mr-5">Small button</button>
      <button type="button" class="btn btn-secondary btn-sm mr-5">Small button</button>
      <button type="button" class="btn btn-warning">Botón Nuevo</button>
    </a>
  </nav>