<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-lg-6">
            <div class="card" style="height: auto; max-height: 700px;">
                <div class="card-body">
                  <img [src]="imageDetails.image" alt="imagen de prueba" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="col-lg-12 mt-4"> <!--hay un pequeño descuadre..pensar este valor-->
                <div class="card">
                    <div class="card-body">
                        <h2>{{ imageDetails.title }}</h2>
                        <h5>{{ imageDetails.likes }} </h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt-4">
                <div class="card">
                    <div class="card-body">
                        {{ imageDetails.author }}
                    </div>
                </div>
            </div>
            <div class="col-lg-12 mt-4">
                <div class="card" style="height: 10rem; overflow-y: scroll;">
                    <div class="card-body">
                        {{ imageDetails.description }}
                    </div>
                </div>
            </div>
            <div class="col-lg-12 mt-4">
                <div class="card" style="height: auto; max-height: 25rem; overflow-y: scroll;">
                    <div class="card-body">
                        {{ imageDetails.comments }}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!--<div class="col-lg-6 ml-2">
            info + comentarios
            <div class="row">
                info de la foto
                <div class="row">
                    titulo + likes
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                              This is some text within a card body.
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                              This is some text within a card body.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    autor
                    <div class="col-sm-10">autor</div>
                </div>
                <div class="row">
                    descripcion
                    <div class="col-lg-12">descripcion</div>
                </div>
           
            <div class="row">
                comentarios
                <div class="row">
                    titulo + cant comentarios
                    <div class="col-3">comentarios</div>
                    <div class="col-9">cant</div>
                </div>
                <div class="row">
                    zona de comentarios
                    <div class="row">
                        un comentario
                        <div class="col-3">avatar</div>
                        <div class="col-9">
                            <div class="row">nombre</div>
                            <div class="row">comentario</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->