<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/login">OssasWeb</a>
</nav>

<div class="container-fluid" style="margin-top: 2%; width: 50%; background-color: wheat; border-radius: 5%;" >         
    <img src="assets/images/logo.png" class="card-img-top" style="width:100%;height:100%;" routerLink="/home">
    <p style="font-size: large; color: black; text-align: center;">La ruta que buscas no existe, por favor presiona el logo para volver a Ossas-Web</p>      
</div>
