<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Ossas-Web</a>
    <ul class="navbar-nav mr-auto">
      <div class="row">
          <button class="btn btn-secondary ml-4 mr-4">
              Home
          </button>
          <button class="btn btn-secondary mr-4">
              New
          </button>
      </div>
    </ul>
    <ul class="navbar-nav mr-auto">
      <form class="form-inline">
        <input class="form-control" type="search" placeholder="Buscar imagenes.." aria-label="Search">
        <button class="btn btn-secondary ml-2 " type="submit">Buscar</button>
    </form>
    </ul>
      <div class="row">
        <button class="btn btn-secondary ml-4 mr-4">
            Mis Imagenes
        </button>
        <button class="btn btn-secondary mr-4">
            Perfil (soy un icono xd)
        </button>
      </div>
  </nav>
  