<!--><p> home screen works! </p><!-->
<div class="container" style="display: grid; grid-template-columns: repeat(3, .2fr);">
    <div class="card" style="width: 18rem; grid-column: 1;">
        <a title="Pong" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><img class="card-img-top" src="/assets/Images/ping.png" alt="No carga tu wea" style="width:128px;height:128px;"></a>
        <div class="card-body">
        <h5 class="card-title">Get ponged</h5>
        <p class="card-text">@everyone</p>
        <!--<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-primary">Go somewhere</a><!-->
        </div>
    </div>

    <div class="card" style="width: 18rem; grid-column: 2;">
        <a title="Maya" href="https://www.youtube.com/watch?v=qdB1ZM5nmXw"><img class="card-img-top" src="/assets/Images/1557920310_mayaturk.gif" alt="No carga tu wea" style="width:128px;height:128px;"></a>
        <div class="card-body">
        <h5 class="card-title">Maya</h5>
        <p class="card-text">Maya's default dance</p>
        <!--><a href="https://www.youtube.com/watch?v=qdB1ZM5nmXw" class="btn btn-primary">Go somewhere</a><!-->
        </div>
    </div>

    <div class="card" style="width: 18rem; grid-column: 3;">
        <a title="DuckyForce" href="https://www.youtube.com/watch?v=yJ2gelnZRJQ"><img class="card-img-top" src="/assets/Images/pato.png" alt="No carga tu wea" style="width:128px;height:128px;"></a>
        <div class="card-body">
        <h5 class="card-title">Duck</h5>
        <p class="card-text">Hungry</p>
        <!--><a href="https://www.youtube.com/watch?v=yJ2gelnZRJQ" class="btn btn-primary">Go somewhere</a><!-->
        </div>
    </div>

    <div class="card" style="width: 18rem; grid-column: 1;">
        <a title="FeliciaDance" href="https://www.youtube.com/watch?v=_ONIMbINZXc"><img class="card-img-top" src="/assets/Images/Felicia_dance.gif" alt="No carga tu wea" style="width:128px;height:128px;"></a>
        <div class="card-body">
        <h5 class="card-title">Felicia dances</h5>
        <p class="card-text">till the break of dawn</p>
        <!--><a href="https://www.youtube.com/watch?v=_ONIMbINZXc" class="btn btn-primary">Go somewhere</a><!-->
        </div>
    </div>

    <div class="card" style="width: 18rem; grid-column: 2;">
        <a title="BrokenGif" href="https://www.youtube.com/watch?v=BHMulsgvDrE"><img class="card-img-top" src="/assets/Images/LightSpicyBunting-size_restricted.gif" alt="No carga tu wea" style="width:128px;height:128px;"></a>
        <div class="card-body">
        <h5 class="card-title">Broken</h5>
        <p class="card-text">Gif</p>
        <!--><a href="https://www.youtube.com/watch?v=BHMulsgvDrE" class="btn btn-primary">Go somewhere</a><!-->
        </div>
    </div>

    <div class="card" style="width: 18rem; grid-column: 3;">
        <a title="SmileyFriends" href="https://www.youtube.com/watch?v=EiWL_ilmfmo"><img class="card-img-top" src="/assets/Images/Prim.png" alt="No carga tu wea" style="width:128px;height:128px;"></a>
        <div class="card-body">
        <h5 class="card-title">Smiley Friends</h5>
        <p class="card-text">Pilot</p>
        <!--><a href="https://www.youtube.com/watch?v=EiWL_ilmfmo" class="btn btn-primary">Go somewhere</a><!-->
        </div>
    </div>

    <div class="card" style="width: 18rem; grid-column: 1;">
        <a title="Gnome" href="https://www.youtube.com/watch?v=xchfN0VnmgY"><img class="card-img-top" src="/assets/Images/get_gnomed.gif" alt="No carga tu wea" style="width:128px;height:128px;"></a>
        <div class="card-body">
        <h5 class="card-title">Get</h5>
        <p class="card-text">gnomed</p>
        <!--><a href="https://www.youtube.com/watch?v=xchfN0VnmgY" class="btn btn-primary">Go somewhere</a><!-->
        </div>
    </div>

    <div class="card" style="width: 18rem; grid-column: 2;">
        <a title="FMA1" href="https://www.youtube.com/watch?v=hTX7WT656VY"><img class="card-img-top" src="/assets/Images/FMAhandshake1.gif" alt="No carga tu wea" style="width:128px;height:128px;"></a>
        <div class="card-body">
        <h5 class="card-title">FMA</h5>
        <p class="card-text">memes</p>
        <!--><a href="https://www.youtube.com/watch?v=hTX7WT656VY" class="btn btn-primary">Go somewhere</a><!-->
        </div>
    </div>

    <div class="card" style="width: 18rem; grid-column: 3;">
        <a title="FMA 2" href="https://www.youtube.com/watch?v=nC6ne5MQ_yA"><img class="card-img-top" src="/assets/Images/FMAhandshake2.gif" alt="No carga tu wea" style="width:128px;height:128px;"></a>
        <div class="card-body">
        <h5 class="card-title">FMA</h5>
        <p class="card-text">Full metal alchemist</p>
        <!--><a href="https://www.youtube.com/watch?v=nC6ne5MQ_yA" class="btn btn-primary">Go somewhere</a><!-->
        </div>
    </div>
</div>
