<app-navbar-log></app-navbar-log>

<button class="btn btn-primary" (click)="gettingAllPhotos()">ALL PHOTOS</button>
<button class="btn btn-primary" (click)="gettingAllUsers()">ALL USERS</button>
<div class="container-fluid">
    <div class="card-columns" >
        <div *ngFor="let user of users">
            <div class="card" *ngFor="let photo of gettingPhotoByUser(user)" [routerLink]="[ '/photo', photo._id ]">
                <img [src]="photo.imagePath" class="card-img-top">
            </div>
        </div>
        
    </div>
</div>

