<app-navbar-profile></app-navbar-profile>

<div class="container-fluid">
    <div class="row mt-3">

        <div class="col-lg-4">
            <div class="col-lg-12 mt-2"> <!--hay un pequeño descuadre..pensar este valor-->
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <h4>Datos:</h4>
                            <label for="nameController">Nombre: </label>
                            <input type="text" class="form-control" id="nameController" aria-describedby="emailHelp">
                        </div>
                        <div class="form-group">
                            <label for="passController">Password</label>
                            <input type="password" class="form-control" id="passController" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="passController">Confirmar Password</label>
                            <input type="password" class="form-control" id="pass2Controller" placeholder="Confirm Password">
                        </div>
                        <div class="form-group">
                            <label for="emailController">E-Mail: </label>
                            <input type="email" class="form-control" id="emailController" aria-describedby="emailHelp">
                        </div>
                        <form>
                            <div class="form-group">
                              <label for="avatarFormController">Avatar: </label>
                              <input type="file" class="form-control-file" id="avatarFormController">
                            </div>
                        </form>
                        <a class="btn btn-success" style="margin-right: 10px;">Editar Campos</a>
                        <a class="btn btn-warning" routerLink="/welcome">Cerrar Sesión</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-8 mt-3">
                <div class="col mb-2">
                    <div class="btn btn-primary" style="margin-right: 10px;" *ngIf="postSelected" (click)="editingPost(postSelected, postSelected.id)">Editar Imagen</div>
                    <div class="btn btn-primary" *ngIf="postSelected" (click)="deletingPost(postSelected, postSelected.id)">Eliminar Imagen</div>
                </div>
                
        
            <div class="card-columns">
                <div class="card" *ngFor="let post of posts" (click)="selectPost(post, post.id)">
                    <img [src]="post.image" class="card-img-top" alt="Imagen hardcodeada">
                </div>
            </div>
        </div>
       
    </div>
</div>
