<app-navbar-profile></app-navbar-profile>

<div class="container-fluid">
    <div class="row mt-3">
        <div class="column">
            <app-user-info
                [user]="userLogged">    
            </app-user-info>
            <app-recent-activity></app-recent-activity>
        </div>

        <div class="col-lg-8 mt-3 ml-3">

                <div class="col mb-2">
                    <div class="btn btn-primary" style="margin-right: 10px;" [routerLink]="[ '/home/profile/addimage' ]" routerLinkActive="active">
                        Agregar Imagen
                    </div>
                    <div class="btn btn-primary" style="margin-right: 10px;" *ngIf="photoSelected" (click)="editingPhoto(photoSelected, photoSelected._id)">Editar Imagen</div>
                    <div class="btn btn-primary" *ngIf="photoSelected" (click)="deletingPhoto(photoSelected, photoSelected._id)">Eliminar Imagen</div>
                </div>
                
            <div class="container-fluid">
                <div class="card-columns">
                    <div class="card" *ngFor="let photo of photos" (click)="selectPhoto(photo, photo._id)">
                        <img [src]="photo.imagePath" class="card-img-top" alt="Imagen hardcodeada" style="max-height: 350px;">
                        <div> 
                            {{ photo.title }}
                        </div>
                    </div>
                </div>
            </div>
    <button class="btn btn-primary" (click)="bringPhotos()">bringPhotos</button>
    <button class="btn btn-primary" (click)="bringUsers()">bringUser</button>
</div>
