<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand"
  routerLink="/welcome"
  routerLinkActive="active">
  <span class="nav-title" text-pc="Ossas-Web"></span>
  <span class="nav-title" text-movil="O-Web"></span>
  </a>

  <ul class="navbar-nav mr-auto"></ul>

    <a 
      routerLink="/register"
      routerLinkActive="active"
      class="btn btn-secondary mr-4 active"
      role="button">
      <span class="button-text" text-pc="Crear cuenta"></span>
      <span class="button-text" text-movil="Crear"></span>
    </a>

    <a 
      routerLink="/login"
      routerLinkActive="active"  
      class="btn btn-secondary mr-2 active"
      role="button">
      Ingresar
    </a>
</nav>
