<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand"
  routerLink="/login"
  routerLinkActive="active">
    Ossas-Web
  </a>

  <ul class="navbar-nav mr-auto"></ul>

    <a 
      routerLink="/register"
      routerLinkActive="active"
      class="btn btn-secondary mr-4 active"
      role="button">
      Crear cuenta
    </a>

    <a 
      routerLink="/session"
      routerLinkActive="active"  
      class="btn btn-secondary mr-4 active"
      role="button">
      Ingresar
    </a>
</nav>
