.nav-title:before{
    content: attr(text-pc);
}

.button-text:before{
    content: attr(text-pc);
}

@media (max-width: 400px) {
    .nav-title:before {
        content: attr(text-movil);
    }
    .button-text:before {
        content: attr(text-movil);
    }
}
