<div class="contaienr fluid" style="margin-top: 12%;">
    <div class="row">
     
            <img src="/assets/Images/1473824210925.png" class="card-img-top" style="width:30%;height:30%;">
        
        
            <img src="/assets/Images/1472725484019.jpg" class="card-img-top" style="margin-left: 1%;margin-right: 1%;width:30%;height:30%;">
        
        
            <img src="/assets/Images/1472873279290.jpg" class="card-img-top" style="width:30%;height:30%;">
       
    </div>
</div>
