<div class="container-fluid mt-4" style=" margin-left: 5%; margin-right: 5%;">
    <div class="column" >
        <div class="row">
            <img src="../../../assets/images/1466581507037.png" alt="User-Image" style="max-width: 300px; height: auto; border: white solid 2px; border-radius: 5%;">
        </div>
        <div class="row" style="margin-top: 10%;">
            <table class="table" style="margin-left: auto; margin-right: auto;">
                <tr class="thead-dark">
                    <th> Information </th>
                </tr>
                <tr class="table-secondary">
                    <th> Name :    {{ user.name }}</th> 
                </tr>
                <tr class="table-secondary">
                    <th> E-mail : {{ user.email }} </th>
                </tr>
                <tr class="table-secondary">
                    <th> Phone </th>
                </tr>
                <tr class="table-secondary">
                    <th data-toggle="modal" data-target="#ModalFollowers"> <div class="class" style="color:#0277bd; cursor: pointer;">Followers</div> </th>
                </tr>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="ModalFollowers" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Followers</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table>
                    <tr>
                        <th> 1 </th>
                    </tr>
                    <tr>
                        <th> 2 </th>
                    </tr>
                    <tr>
                        <th> 3 </th>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</div> 