<div class="container-fluid mt-4" style=" margin-left: 5%; margin-right: 5%;">
    <div class="column" >
        <div class="row">
            <img src="../../../assets/images/1466581507037.png" alt="User-Image" style="max-width: 300px; height: auto; border: white solid 2px; border-radius: 5%;">
        </div>
        <div class="row" style="margin-top: 10%;">
            <table class="table" style="margin-left: auto; margin-right: auto;">
                <tr class="thead-dark">
                    <th> Information </th>
                </tr>
                <tr class="table-secondary">
                    <th> Name :    {{ user.name }}</th> 
                </tr>
                <tr class="table-secondary">
                    <th> E-mail : {{ user.email }} </th>
                </tr>
                <tr class="table-secondary">
                    <th> Phone </th>
                </tr>
                <tr class="table-secondary">
                    <th> Followers </th>
                </tr>
            </table>
        </div>
    </div>
</div>